* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(22, 21, 21);
}

.container {
    width: 500px;
    background: rgb(110, 0, 0);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    background: black;
    border-radius: 10px;
    text-align: center;
    width: 100%; 
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.logo img {
    width: 100%;
    height: 100%; 
    object-fit: contain; 
}

.menu {
    display: flex;
    justify-content: space-around;
    background: black; 
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.menu label {
    color: #FFD700; 
    font-weight: bold;
    cursor: pointer;
    padding: 10px 10px;
}

.menu label:hover {
    text-decoration: underline;
    background: red; 
    color: black; 
    border-radius: 5px; 
    padding: 5px 10px;
}

.menu button {
    color: black; 
    background: rgb(177, 1, 1);
    font-weight: bold;
}

#konten {
    font-family: "Times New Roman", serif; 
    font-size: 18px; 
    color: red; 
    text-align: justify; 
    line-height: 1.5; 
    padding: 10px; 
    background: rgba(0, 0, 0, 0.753); 
    border-radius: 10px; 
}

h2 {
    font-family: "Times New Roman", serif;
    font-weight: bold;
}

#menu1:checked ~ .content #content1 {
    display: block;
}

#menu2:checked ~ .content #content2 {
    display: block;
}

#menu3:checked ~ .content #content3 {
    display: block;
}

.gallery {
    background: gray;
    color: white;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gallery img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}